<h2>Développer une application de test avec Typescript</h2>
<p>Une application de test permet de tester le bon fonctionnement d'une application ou bien d'une API.</p>
<p>
   Elle est en général écrite en Typescript ou en Javascript.
</p>
<p>
    Typescript est un langage créé Microsoft. C'est un sur-ensemble de Javascript.
    Ce langage, Typescript, a été créé afin de faciliter les bonnes pratiques de programmation en Javascript, 
    et de fournir ainsi un code en arrière-plan de qualité.

</p>
<p>
    Je suis parti d'une feuille blanche en créant cette application de A à Z.
</p>

<h3>Projets : </h3>

<ul class="realisation">
    <li (click)="gotoRealisationDetail()">
        <span class="badge">1</span>Test de fonctionnement d'API
    </li>
</ul>

<button (click)="goBack()">Retour</button>