<h2>Rigueur</h2>

<p>
    <strong>Définition : </strong>Être caractérisé par une exactitude, une logique, une précision parfaite.
</p>

<p>
    La rigueur et la précision permettent de se discipliner dans son domaine et de réussir ainsi.
</p>
<p>
    L'ingénierie logicielle requiert ces deux qualités car elle ne laisse pas la place a l'approximatif et a l'a priori.
</p>
<p>
   Passionné d'horlogerie je mets cette passion au service de mon autre passion qu'est l'ingénierie logicielle car les deux ne sont que rouages rigoureusement entremêlés.
</p>
<p>
    La rigueur et la précision m'ont permis de progresser dans le domaine du développement logiciel selon un fil conducteur.
</p>
<br/>
<button (click)="goBack()">Retour</button>